#edit-project-life-cycles-dialog
  .FormControl-horizontalGroup
    primer-text-field
      flex: 1 1 100%
    primer-text-field:last-child
      flex: 1 0 170px
  @media screen and (max-width: $breakpoint-sm)
    .FormControl-horizontalGroup
      flex-direction: column
      primer-text-field:last-child
        flex-basis: auto
