.upsell-actions
  display: flex
  flex-wrap: wrap
  align-items: baseline

  .openproject--static-link
    margin-left: 1rem

.upsell--information-container
  margin-bottom: 40px

.token-form textarea
  font-family: "Lucida Console", Monaco, monospace
  max-width: 560px

.controller-homescreen .widget-boxes
  .widget-box.upsell
    padding: 0
    background: var(--bgColor-accent-muted)
    flex-basis: 100%
    border: var(--borderWidth-thin) solid var(--borderColor-severe-muted)
    border-radius: var(--borderRadius-medium)
    background: var(--body-background)

.widget-box--blocks--upsell-container
  padding: 20px
  height: 250px
  background-size: contain
  background-repeat: no-repeat
  background-position: center right

.upsell-colored
  color: var(--enterprise-upsell-color) !important

.upsell-colored-background
  background: var(--enterprise-upsell-color) !important
  color: white !important

.widget-box--blocks--upsell-title
  font-weight: 400
  font-size: 20px
  margin-top: 10px
  display: flex

.widget-box--blocks--upsell-text
  width: 50%

.widget-box--blocks--upsell-description
  margin: 10px 0 10px 0
  display: flex

.widget-box--blocks--upsell-image
  width: 200px
  margin: auto
