.my-time-tracking-calendar-view
  height: 100%

  .op-fc-wrapper
    flex-grow: 1

    .fc-daygrid-day-bottom
      display: flex
      align-items: center
      justify-content: center

    .calendar-time-entry-event
      display: flex
      user-select: none
      border: none
      box-shadow: var(--shadow-floating-small)
      border-radius: 5px
      background: var(--body-background)
      color: var(--body-font-color)
      font-size: var(--body-font-size)

      .fc-event-time
        color: var(--fgColor-default)

      &.fc-timegrid-event-short, &.fc-daygrid-block-event
        // background: hotpink !important
        .fc-event-time::after
          content: ''
          display: none

        .fc-project-name
          display: none

        .fc-entry-time
          display: none

    .fc-popover
      background: var(--fc-page-bg-color) !important

    .fc-daygrid-event
      background: var(--body-background) !important

      .fc-event-title-container
        margin: 0 !important

      .fc-event-time
        font-weight: normal

    .fc-col-header
      .fc-day
        &.fc-day-past
          background-color: var(--fc-page-bg-color) !important

        &.fc-day-future
          background-color: var(--fc-page-bg-color) !important

    .fc-timegrid-more-link
      background: var(--fc-page-bg-color) !important
      border: 1px solid var(--borderColor-default)
